.app-main {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.header-main {
  height: 50px;
  background-color: lightcoral;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.score-display {
  display: flex;
}
.score-display p {
  padding: 10px;
}

.card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-main img {
  object-fit: cover;
  overflow: hidden;
  width: 15vw;
  height: 15vw;
  cursor: pointer;
}

.card-main h3 {
  text-transform: capitalize;
  font-size: 25px;
  margin: 10px;
}
.cards-container {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1f;
  gap: 10px;
  height: 80vh;
}

.modal-background{
  top: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.562);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal{
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.modal h3{
  font-size: 30px;
  padding: 0;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 0;
}
.modal p{
  padding: 0px 30px 5px;
  min-width: 250px;
}

.modal button{
  margin-bottom: 20px;
  background-color: salmon;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;

}
.modal button:hover{
  background-color: rgb(254, 201, 195);
}